Source: grml-debootstrap
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
XS-Vcs-hg: http://hg.grml.org/grml-debootstrap

Package: grml-debootstrap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debootstrap | cdebootstrap
Description: wrapper around debootstrap for installing plain Debian via grml
 This package provides a wrapper suite around deboostrap and
 cdebootstrap for installing a plain Debian system via grml.
 .
 All you have to do is adjust a few variables in configuration
 file /etc/debootstrap/config and invoke grml-debootstrap then.
 A plain and base Debian system will be installed on the given
 device then. Customization of this process is possible as well.
 .
 Supported releases:
   * Sarge
   * Etch
   * Sid (work in progress...)
