Source: grml-debootstrap
Section: admin
Priority: optional
Maintainer: Grml Team <team@grml.org>
Uploaders: Michael Prokop <mika@debian.org>,
           Alexander Wirt <formorer@debian.org>,
           Christian Hofstaedtler <zeha@debian.org>,
           Ulrich Dangel <mru@spamt.net>
Build-Depends: debhelper (>= 10~)
Build-Depends-Indep: asciidoc,
                     docbook-xsl,
                     shunit2,
                     xsltproc
Standards-Version: 3.9.8
Homepage: https://grml.org/grml-debootstrap/
Vcs-git: git://git.grml.org/grml-debootstrap.git
Vcs-Browser: https://git.grml.org/?p=grml-debootstrap.git

Package: grml-debootstrap
Architecture: all
Depends: debian-archive-keyring,
         debootstrap (>= 0.3.3.3) | cdebootstrap (>= 0.3.16),
         gawk,
         kmod,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: dialog,
            kpartx,
            parted,
            qemu-utils
Description: wrapper around debootstrap for installing pure Debian
 Provides a wrapper suite around debootstrap and cdebootstrap
 to ease installation of a pure Debian system.
 .
 Configuration can be done on the command line, in a dialog frontend
 or in /etc/debootstrap/config. You will get a pure Debian system
 installed on the specified device or directory, or directly into
 an image file suitable for Virtual Machine use.
