Source: grml-debootstrap
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Uploaders: Alexander Wirt <formorer@grml.org>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: asciidoc, docbook-xsl, xsltproc, shunit2
Standards-Version: 3.9.1
Homepage: http://grml.org/grml-debootstrap/
Vcs-git: git://git.grml.org/grml-debootstrap.git
Vcs-Browser: http://git.grml.org/?p=grml-debootstrap.git

Package: grml-debootstrap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debootstrap (>= 0.3.3.3) | cdebootstrap (>= 0.3.16), grml-etc-core
Description: wrapper around debootstrap for installing plain Debian via grml
 This package provides a wrapper suite around deboostrap and
 cdebootstrap for installing a plain Debian system via grml.
 .
 All you have to do is adjust a few variables in configuration
 file /etc/debootstrap/config or use the interactive configuration
 frontend. A plain and base Debian system will be installed on the
 specified device (or directory) then. Customization of this process 
 is possible as well.
 .
 Supported Debian GNU/Linux releases:
   * Etch  (4.0) [old-stable]
   * Lenny (5.0) [stable]
   * Squeeze     [testing]
   * Sid         [unstable]
